body {
    background-image:url(" https://img.clipartfest.com/b15685bbb4a58b53e23f842698228fcf_spiral-notebook-paper-page-spiral-notebook-paper-clipart_846-1100.jpeg ");
background-size:80%;
background-repeat: no-repeat;
font-family:cursive;;
}
img
{size:contain;}
button
{
background-color:#EDEDF7 ;
border-color:red;
border-radius:50%;
border-width:1px;
font-family:cursive;;
}
input
{
   background-color:#EDEDF7;
   border-color:red;
   border-width:1px;
}
dl
{
   list-style-type:square;
   list-style-align:center;
   padding-left:177px;
   padding-top: 65px;
}
